In [8]:
import pandas as pd
import numpy as np
#add other dependencies for visuals

In [9]:
#path_link="Data/Seasons_Episodes/output/charlines_df.csv"
#df_charlines = pd.read_csv(path_link)
df_charlines = pd.read_csv("/Users/jacquelineskunda/Documents/GitHub/696/Milestone2/Data/Seasons_Episodes/output/charlines_df.csv")

In [10]:
df_charlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6068 entries, 0 to 6067
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      6068 non-null   int64
 1   index           6068 non-null   int64
 2   Character       6068 non-null   object
 3   Dialog          5457 non-null   object
 4   Season          6068 non-null   int64
 5   Episode         6068 non-null   int64
 6   Fix Name        6068 non-null   object
 7   Character_Fix   6068 non-null   object
 8   Spoke_Before    5556 non-null   object
 9   Character_Keep  6068 non-null   object
 10  Length Dialog   6068 non-null   int64
dtypes: int64(5), object(6)
memory usage: 521.6+ KB

In [14]:
df_charlines.head(10)

,Unnamed: 0,index,Character,Dialog,Season,Episode,Fix Name,Character_Fix,Spoke_Before,Character_Keep,Length Dialog
0,0,3,HOPPER,NaN,3,5,True,HOPPER,NaN,Keep,0
1,0,3,HOPPER,NaN,3,5,True,HOPPER,NaN,Keep,0
2,0,3,HOPPER,NaN,3,5,True,HOPPER,NaN,Keep,0
3,0,3,HOPPER,NaN,3,5,True,HOPPER,NaN,Keep,0
4,0,3,HOPPER,NaN,3,5,True,HOPPER,NaN,Keep,0
5,0,3,HOPPER,Looks like somebody’s home. As the truck parks...,3,5,True,HOPPER,NaN,Keep,341
6,0,3,HOPPER,Where’s that coming from? Joyce pauses at the ...,3,5,True,HOPPER,NaN,Keep,165
7,0,3,HOPPER,"Hey, dipshits! The men drop their tools and st...",3,5,True,HOPPER,NaN,Keep,80
8,0,3,HOPPER,"Dr. Alexei steps forward, putting himself betw...",3,5,True,HOPPER,NaN,Keep,166
9,0,3,HOPPER,NaN,3,5,True,HOPPER,NaN,Keep,0

In [15]:
df_charlines.loc[df_charlines["Spoke_Before"].isnull(),'Spoke_Before'] = df_charlines['Character_Fix']

In [17]:
df_charlines.head()

,Unnamed: 0,index,Character,Dialog,Season,Episode,Fix Name,Character_Fix,Spoke_Before,Character_Keep,Length Dialog
0,0,3,HOPPER,NaN,3,5,True,HOPPER,HOPPER,Keep,0
1,0,3,HOPPER,NaN,3,5,True,HOPPER,HOPPER,Keep,0
2,0,3,HOPPER,NaN,3,5,True,HOPPER,HOPPER,Keep,0
3,0,3,HOPPER,NaN,3,5,True,HOPPER,HOPPER,Keep,0
4,0,3,HOPPER,NaN,3,5,True,HOPPER,HOPPER,Keep,0

In [18]:
df_charlines.tail()

,Unnamed: 0,index,Character,Dialog,Season,Episode,Fix Name,Character_Fix,Spoke_Before,Character_Keep,Length Dialog
6063,38,268,SUSAN,See -- pretty -- !!,2,9,True,SUSAN,ERICA,Keep,19
6064,38,268,SUSAN,... Now -- you surrrre you don't want to wear...,2,9,True,SUSAN,ERICA,Keep,116
6065,39,270,CLAUDIA,Where did you see it last?,2,9,True,CLAUDIA,SUSAN,Keep,26
6066,39,270,CLAUDIA,What's in there that's so important anyway? ...,2,9,True,CLAUDIA,SUSAN,Keep,132
6067,39,270,CLAUDIA,That's your ride! Dusty??? The bag from Melva...,2,9,True,CLAUDIA,SUSAN,Keep,75

In [19]:
df_charlines.dropna(subset=['Dialog'],inplace = True)

In [20]:
df_charlines.drop(['Unnamed: 0'], axis=1, inplace = True)
df_charlines.shape

(5457, 10)

In [21]:
df_charlines['Dialog_Check'] = df_charlines['Dialog'].apply(lambda x: x.isdigit())

In [22]:
df_charlines['Remove_Lines'] = df_charlines['Dialog'].apply(lambda x: True if "1/" in x else False)

In [23]:
#df_charlines[df_charlines['Remove_Lines']==True]
#removing odd script lines when based on location setting that were caught
df_charlines2 = df_charlines[df_charlines['Remove_Lines']==False].copy()

In [24]:
# reordering columns
cols = list(df_charlines2)
# move the column to head of list using index, pop and insert
cols.insert(0, cols.pop(cols.index('Character_Fix')))
#print(cols)
#['Character_Fix', 'Character', 'Dialog', 'Season', 'Episode', 'Fix Name', 'Length Dialog', 'Character_Keep', 
#'Dialog_Check', 'Remove_Lines']
# use index to reorder
df_charlines2 = df_charlines2.loc[:, cols]

In [25]:
df_charlines2.head()

,Character_Fix,index,Character,Dialog,Season,Episode,Fix Name,Spoke_Before,Character_Keep,Length Dialog,Dialog_Check,Remove_Lines
5,HOPPER,3,HOPPER,Looks like somebody’s home. As the truck parks...,3,5,True,HOPPER,Keep,341,False,False
6,HOPPER,3,HOPPER,Where’s that coming from? Joyce pauses at the ...,3,5,True,HOPPER,Keep,165,False,False
7,HOPPER,3,HOPPER,"Hey, dipshits! The men drop their tools and st...",3,5,True,HOPPER,Keep,80,False,False
8,HOPPER,3,HOPPER,"Dr. Alexei steps forward, putting himself betw...",3,5,True,HOPPER,Keep,166,False,False
10,HOPPER,3,HOPPER,English! You speak English? Alexei tries to ca...,3,5,True,HOPPER,Keep,63,False,False

In [26]:
df_charlines2.shape

(5451, 12)

In [27]:
df_charlines2.to_csv("/Users/jacquelineskunda/Documents/GitHub/696/Milestone2/Data/Seasons_Episodes/output/df_charlines_for_EDA.csv")